body {
    margin: 0;
}
#container {
    margin: 0 50 0 50;
}
#menu {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
#filters {
    display:flex;
}
#logo {
    display: inline-flex;
}
#menu ul li  {
    display:inline-block;
    justify-content: space-between;
    padding-left: 80px;
}
#menu ul li a:hover {
    border-top:2px solid #0065FC;
    padding-top: 22px;
}
#search-box {
    display: flex;
}
#search-bar {
    padding: 8px 0px 8px 0px;
    border: 1px solid #F2F2F2;
    font-weight: bold;

}
#button-search {
    background-color: #0065FC;
    color: white;
    padding: 10px 15px 10px 15px;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#infos {
    display: inline-flex;
}
.fa-info {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    margin: auto;
    color: #0065FC;
}
#infos p {
    margin-left: 10px;
}
#icone {
    background-color: #F2F2F2;
    padding: 10px 15px 10px 15px;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#filters ul li {
    display:inline-flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    margin: auto;
}
#filters ul li a {
 margin: 7px 10px;

}
#filters ul li i {
    color: #0065FC;
    padding: 9px 11px 9px 11px;
    border: none;
    background-color: #DEEBFF ;
    border-radius: 50px;
    margin: auto;
}
#container-result {
    display: flex;
    justify-content: space-between;
}
#grid1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
#search-result, #famous-result {
    background-color: #F2F2F2;
    border-radius: 25px;
}
#famous-result {
    justify-content: center;
}
.result, .famous-result {
    width: 250px;
    height: 190px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
}
.result{
    padding-top: 5px ;
}
.result img {
    z-index: 500;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
a {
    text-decoration: none;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}